.cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.43;
    color: #29303b;
    background-color: #fff;
  }
.cover {
    background-image: url(../../../../public/img/cover.jpg);
    height: 500px;
    position: relative;
  }
  .cover .cover__content {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translateY(-50%);
  }
  .cover .cover__content h1 {
    color: rgb(255 210 45);
    font-size: 40px;
    font-weight: 700;
  }
  .cover .cover__content p {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
  }
  .cover .cover__content .cover__form {
    background-color: #fff;
  }
  .cover .cover__content .cover__form .form-control {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    transition: none;
    color: #505763;
  }
  .cover .cover__content .cover__form .form-control::placeholder {
    color: #505763;
  }
  .cover .cover__content .cover__form .form-control:focus {
    background-color: #fff;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-left-color: #fff;
  }
  .cover .cover__content .cover__form .form-control:focus + .input-group-append .input-group-text {
    background-color: #fff;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-right-color: #fff;
  }
  .cover .cover__content .cover__form .input-group-append .input-group-text {
    background-color: transparent;
    border-color: transparent;
    color: #ec5252;
  }
  .cover .cover__content .cover__form .input-group-append .input-group-text:hover {
    color: #fff;
    background-color: #ec5252;
  }
  @media screen and (max-width: 576px) {
    .cover .cover__content {
      max-width: 400px;
      left: 10%;
    }
  }
  